<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net461" />
  <package id="Syncfusion.Grid.WPF" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WPF" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base" version="16.4.0.47" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="16.4.0.47" targetFramework="net461" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net461" />
</packages>